#soundBoard {
    background-color: black;
}

#vonal {
    background-color: white;
    width: 2px;
    height: 45px;
    position: absolute;
}

#idojarasDiv {
    border: 3px solid;
    background: linear-gradient(yellow, rgb(0, 247, 255));
    text-align: center;
    padding: 30px;
    width: 200px;
    left: 50%;
    margin: auto;
    text-align: center;
}

body {
    align-items: center;
    text-align: center;
    background: linear-gradient(rgb(0, 174, 255), rgb(0, 0, 0));
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p, h2 {
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
}

.idojarasErtek {
    text-align: center;
    margin: 5px;
}

.menu {
    text-align: center;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
}

#kinezetTablazat {
    border: 1px, solid;
    margin: auto;
    margin-top: 30px;
    background-color: black;
}

.kinezetAdat {
    border: 1px solid;
    padding: 5px;
    background-color: rgba(160, 77, 185, 0.979);
}

th.kinezetAdat {
    background-color: rgba(102, 47, 119, 0.979);
}

.majomKep {
    border-radius: 10px;
    border: 3px solid;
    border-color: white;
}

.mKep {
    height: 200px;
}

.video {
    height: 500px;
}

#varosCim {
    text-align: center;
    margin-bottom: 10px;
}

#varosSelect {
    background-color: black;
    color: white;
    border-radius: 5px;
}

.menupont {
    color: white
}

li {
    margin: auto;
    text-align: left;
}

#keszitette {
    margin-left: -30px;
    margin-bottom: -10px;
}

#majomCanvas {
    border: 5px solid;
}

#kepMag {
    margin-top: 50px;
}
